<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    
    <!--GTag-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4S6TPJZF4K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4S6TPJZF4K');
    </script>


    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- icons -->
    <script src="https://kit.fontawesome.com/4509168b33.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" type="image/png" href="images/logo.png"/>
    
    <title>SpacSec'21</title>
  </head>

  <body>
    <nav id='nav' class="navbar navbar-expand-lg transparent fixed-top">
    <div class="container">
    <!-- navbar -->
    <a class="navbar-brand" href="/">
      <img src="images/logo.png" alt="" style="width: 2.5rem;" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fas fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link navbar-link  <%= page_name === 'home' && 'active-route' %>" href="/">Home</a>
        </li>
        <% if (page_name === "login") { %>
          <li class="nav-item">
          <a class="nav-link navbar-link  <%= page_name === 'login' && 'active-route' %>" href="login">Login</a>
        </li>
        <% } else if(page_name === "loggedin") { %>
          <li class="nav-item">
          <a class="nav-logout nav-link navbar-link  <%= page_name === 'login' && 'active-route' %>" href="login">LOGOUT</a>
        </li>
        <% } else { %>
          <li class="nav-item">
          <a class="nav-link navbar-link <%= page_name === 'tracks' && 'active-route' %>" href="tracks" data-target=".navbar-collapse.in">Tracks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-link <%= page_name === 'speakers' && 'active-route' %>" href="speakers" data-target=".navbar-collapse.in">Speakers</a>
        </li>
       <li class="nav-item">
          <a class="nav-link navbar-link <%= page_name === 'schedule' && 'active-route' %>" href="schedule" data-target=".navbar-collapse.in">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-link <%= page_name === 'author-dashboard' && 'active-route' %>" href="author-dashboard" data-target=".navbar-collapse.in">Author Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-link <%= page_name === 'committee' && 'active-route' %>" href="committee" data-target=".navbar-collapse.in">Committee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-link <%= page_name === 'contact' && 'active-route' %>" href="contact" data-target=".navbar-collapse.in">Contact</a>
        </li>
        <li class="nav-item mx-lg-2">
          <a class="nav-cta btn btn-primary" href="register" data-target=".navbar-collapse.in">Register Now</a>
        </li>
        <% } %>
      </ul>
    </div>
    </nav>
  </body>
</html>