<div class="speakers container">
  <div class="speakers-grid">
    <% speakersData.map((item)=>{ %>
    <div class="speaker-card">
      <div class="card" style="width: 19rem">
        <img src= <%=item.image %> id="speaker-img" class="card-img-top"
        alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text">
            <%= item.institute %><br /><%= item.location %><br /><%=
            item.country %>
          </p>
          <div class="speaker-links">
            <div class="learn-more">
              <a
                class="learn-more-btn"
                rel="noopener-noreferrer"
                id="learn-more-btn"
                role="button"
                target="_blank"
                href=<%= item.workprofile %>
              >
                LEARN MORE
              </a>
            </div>
            <div class="speaker-linkedin-btn">
              <a
                class="speaker-linkedin"
                rel="noopener-noreferrer"
                id='speaker-linkedin'
                target="_blank"
                role="button"
                style="margin-left: 5rem;"
                href=<%= item.linkedin %>
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>