<div class="speakers container">
  <div class="speakers-grid">
    <% speakersData.map((item)=>{ %>
    <div class="speaker-card">
      <div class="card" style="width: 19rem">
        <img src= <%=item.image %> id="speaker-img" class="card-img-top"
        alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text">
            <%= item.institute %><br /><%= item.location %><br /><%=
            item.country %>
          </p>
          <div class="speaker-links">
            <div class="learn-more">
              <a
                class="learn-more-btn"
                id="learn-more-btn"
                role="button"
                target="_blank"
                href=<%= item.workprofile %>
              >
                LEARN MORE
              </a>
            </div>
            <div class="speaker-linkedin-btn">
              <a
                class="speaker-linkedin"
                id='speaker-linkedin'
                target="_blank"
                role="button"
                style="margin-left: 5rem;"
                href=<%= item.linkedin %>
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
    <!--      <div
            class="modal fade"
            id="s1"
            data-backdrop="static"
            data-keyboard="true"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel1"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="staticBackdropLabel1">name</h4>
                  <button
                    type="button"
                    class="close"
                    id="speaker-close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p id="modelContent">
                  </p>
                    <a
                      href=<%= item.linkedin %>
                      class="speaker-linkedin"
                      id='speaker-linkedin'
                      target="_blank"
                      role="button"
                      ><i class="fab fa-linkedin"></i
                    ></a>
                </div>
              </div>
            </div>    
          </div>  -->
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>