<%- include("./includes/navbar") -%>
<div class="home-header">
    <div id="carouselIndicators" class="carousel slide" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" >
        <div class="carousel-image" style="background-image: url('/images/BannerImages/HomeBannerImage1.jpeg')"></div>
        <div class="carousel-caption ">
          <h1>SpacSec '21</h1>
            <div class="center">
              <p class="home-subtext">
                1<sup>st</sup> International Conference on <br/><b>
                  Cyber Warfare, Security & Space Research
                </b>
              </p>
              <div class=" d-flex text-center my-3" >
                <div class="details  mx-sm-4 mx-1 ">
                  DATE <br /> 
                  9<sup>th</sup> & 10<sup>th</sup> December 2021
                </div>
                <div class="details mx-sm-4 mx-1   ">
                   VENUE <br /> 
                  Manipal University Jaipur
                </div>
              </div>
            </div>
            <div class="my-3">
              <a href="register" class="mx-2 p-2 btn btn-primary">Register as an Attendee</a>
              <a href="register" class="mx-2 p-2 btn btn-outline-light">Register as a Presenter</a>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-image" style="background-image: url('/images/BannerImages/HomeBannerImage2.jpg')"></div>
        <div class="carousel-caption header-about">
          <p class="home-header-small-title" >ABOUT</p>
          <h2>Manipal University Jaipur</h2>
          <p>Manipal University Jaipur (MUJ) was launched in 2011 on an invitation from the Government of Rajasthan, as a self-financed State University. MUJ has redefined academic excellence in the region, with the Manipal way of learning; one that inspires students of all disciplines to learn and innovate through hands on practical experience.</p>
          <p class="hidden visible-md ">MUJ boasts of best-in-class infrastructure, including state-of-the-art research facilities and a modern, digital library. In line with Manipal University's legacy of providing quality education to its students, the campus uses the latest in technology to impart education.</p>
        </div>
      </div>
      <div class="carousel-item" >
        <div class="carousel-image" style="background-image: url('/images/BannerImages/HomeBannerImage3.jpeg')"></div>
        <div class="carousel-caption header-about">
          <p class="home-header-small-title" >ABOUT</p>
          <h2>Jaipur</h2>
          <p>Jaipur is the capital and the largest city of the Indian state of Rajasthan. As of 2011, the city had a population of 3.1 million, making it the tenth most populous city in the country. Jaipur is also known as the Pink City, due to the dominant color scheme of its buildings. It is located 268 km (167 miles) from the national capital New Delhi.</p>
          <p class="hidden visible-md ">Jaipur was founded in 1727 by the Rajput ruler Jai Singh II, the ruler of Amer, after whom the city is named. It was one of the earliest planned cities of modern India, designed by Vidyadhar Bhattacharya. During the British Colonial period, the city served as the capital of Jaipur State. After independence in 1947, Jaipur was made the capital of the newly formed state of Rajasthan.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>

      
</div>

<!-- sponsor -->
<section class="home-sponsors">
  <div class="sponsors">
    <div class="sponsor-row">
      <div class="sponsor">
        <p class="sponsor-description">Technical Sponsor</p>
        <p class="sponsor-name">Springer</p>
        <p>*Final Approval Pending*</p>
        <a href="https://www.springer.com/gp" target="_blank">
          <img class="sponsor-img-1" src="images/technical-sponsor.jpeg" alt="Springer">
        </a>
      </div>
      <div class="sponsor">
        <p class="sponsor-description">Financial Sponsor</p>
        <p class="sponsor-name">Manipal University Jaipur</p>
        <a href="https://jaipur.manipal.edu/" target="_blank">
          <img class="sponsor-img-2" src="images/financial-sponsor.png" alt="Manipal University Jaipur">
        </a>
      </div>
    </div>
  </div>
</section>
<!-- about -->

<section id="about" class="container home-about">
  <h3>About the Conference</h3>
  <p>
    SpacSec’21 is an opportunity for researchers, educators, professionals, practitioners, 
    scientists, satellite and space researchers, space agency executives, geophysicists, 
    spacecraft ground control operators, agencies, Earth science researchers, geologists, 
    spacecraft and satellite engineers, satellite launch vehicle manufacturers/ operators, 
    marshals and admirals in army, artists and students around the world who are involved in
    the study, management, development and implementation of systems and concepts to combat
    information warfare and all aspects of Space technology and research to come together
    and exchange ideas. 
  </p>
  <div class="d-xs-none d-sm-none d-md-block collapse" collapse" id="collapseExample">
    <p>
      There are several strong strands of research developing in the cyber warfare,
      cybersecurity, and space research area including the understanding of threats and risks
      to systems, the development of strong innovative culture, as well as incident detection 
      and post-incident investigation. New threats brought about by social networking and cloud 
      computing are gaining interest from the research community and the conference is tackling 
      these issues.
    </p>
    <p>
      It will provide a great opportunity for students and faculties worldwide to interact and 
      share ideas with the top-notch in the field face to face. This knowledge sharing may 
      inspire and thrill many young minds and help us bring collaborations and global partners 
      to work together. This will enable us to solve challenging problems in our society so that 
      we may contribute to our world. The whole idea of the forum is to exchange thoughts and 
      ideas, transform those in real-time to solve the problems. The conference will also create 
      awareness in students about the importance of scientific research in related fields and 
      synchronizing with the product market. 
    </p>
    <p>
      The whole idea of the forum is to exchange thoughts and ideas, transform
      those in real-time to solve the problems. The conference will also create
      awareness in students about the importance of scientific research in related
      fields and synchronizing with the product market.
    </p>
  </div>
  <div class="visible-md read-more">
    <a class="read-more-btn" id="read-more-btn" onclick="change()" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    READ MORE
    </a>
  </div>
</section>


<section class="home-speakers">
  <h3>Speakers</h3>
  <div class="speakers container">
    <div class="speakers-grid">
      <% let homeSpeakers = speakersData.slice(0, 3); %>
      <% homeSpeakers.map((item)=>{ %>
    <div class="speaker-card">
      <div class="card" style="width: 20rem">
        <img src= <%=item.image %> id="speaker-img" class="card-img-top"
        alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text">
            <%= item.institute %><br /><%= item.location %><br /><%=
            item.country %>
          </p>
          <div class="speaker-links">
            <div class="learn-more">
              <a
                class="learn-more-btn"
                id="learn-more-btn"
                role="button"
                target="_blank"
                href=<%= item.workprofile %>
              >
                LEARN MORE
              </a>
            </div>
            <div class="speaker-linkedin-btn">
              <a
                class="speaker-linkedin"
                id='speaker-linkedin'
                target="_blank"
                role="button"
                href=<%= item.linkedin %>
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div> 
    <div class="speaker-redirect">
      <a href="speakers" role="button">SEE ALL SPEAKERS</a>
    </div>
  </div>
</section>


<section class="home-form">
  <div class="container">
    <div>
      <%- include("./components/contact-form.ejs") -%>
    </div>
</section>
 <!-- toast -->
  <% if(success === "true") { %>
    <% console.log("h"); %>
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="mr-auto">Message Sent Successfully</strong>
  </div>
  <div class="toast-body">
    Thanks for sending the message, we will get back to you as soon as possible
  </div>
</div>
<% } %>
<%- include("./includes/footer") -%>
